include _include/_defaultLayout.jade
!!!
html(lang="es")
  head
    mixin head()

    title(data-t9n='app.title') Páginas Amarillas / Guía de Industria
    //title T9n 't9nLanguage'

  body
    noscript
      p Esta página necesita JavaScript!
    #wrap
      .pure-g-r
        mixin menu()
      .pure-u-1-1
        .container
          .mainArea
            label(id="filter1Lable" for="filter1" data-t9n='app.filtro') Filtro
            input(type="text" name="filter1" value="" id="filter1")
            div(id="facets" class="highlight")
            .pure-g-r
              .pure-u-1-1
                table(id="firmenTable" class=" pure-table-striped")
                  thead
                    tr
                      //th ID
                      th(id='orderby_branche' class='orderbyitem' data-t9n='branche') Rubro
                      th(id='orderby_name' class='orderbyitem' data-t9n='name') Nombre
                      th(id='orderby_adresse' class='orderbyitem' data-t9n='adresse') Dirección
                      th(id='orderby_stadt' class='orderbyitem' data-t9n='stadt') Ciudad
                      th(data-t9n='telefon1') Teléfono
                      th(data-t9n='email') Email
                  tbody(id="results")

    #firmaDialog
      img.logo
      dl
      #firmaKarte


    // preload the images
    //div(style='display:none')
      <img src='img/basic/x.png' alt='' />


  mixin footer()
