include _include/_defaultLayout.jade
!!!
html(lang="es")
  head
    mixin head()
    title Precios
  body
    #wrap
      .pure-g-r
        mixin menu()
      .pure-u-1-1
        .container
          h1 Precios
          p Todos los precios en Guaranies más IVA vigente (10% en Enero 2015). 
          ul
            //li Anzeige für einen Monat: 30.000
            li Publicación para un año: 300.000
